.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 35px;
  font-weight: bolder;
}

.description {
  font-size: 20px;
  font-weight: 500;
}

.money {
  font-size: 25px;
  font-weight: 600;
  padding: 5px;
  border: 2px solid black;
  border-radius: 20%;
}