input#color-1::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: royalblue;
  border-radius: 50%;
}

input#color-2::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

input#color-3::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: violet;
  border-radius: 50%;
}

input#color-4::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: darkgreen;
  border-radius: 50%;
}