@import url('./information.css');
@import url('./input.css');

.root {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
}

.seleccion {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 30%;
}

.blue{
  background-color: royalblue;
}

.red{
  background-color: red;
}

.violet{
  background-color: violet;
}

.green{
  background-color: darkgreen;
}